
body{
    background-color: rgb(238, 235, 231);
}



a {
    padding: 1rem 2rem;
    background-color: rgb(161, 168, 117);
    text-decoration: none;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;
    border: 2px solid transparent;
}

a:hover {
    background-color: aliceblue;
    color:blue;
    border: 2px solid blue;
}

a:active {
    background-color: red;
}

img {
    height: 400px;
    width: 380px;
    
}